nav.navbar.navbar-default.navbar-fixed-top.navbar-custom
    .container-fluid
        .navbar-header
            button(class="navbar-toggle", type="button", data-toggle="collapse", data-target="#main-navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(class="navbar-brand", href=url_for(), style="color:black;")
                //-- img(src="/img/home.png")
                - var titles = ["Bittersweet","Dark light","Only choice","Original copy","Painfully beautiful","Random order","Sweet sorrow","True myth","Weirdly normal","Clearly misunderstood","Even odds"]
                - var random_title = titles[Math.floor(Math.random() * titles.length)];
                span= random_title
        #main-navbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                each value, key in theme["navbar-links"]
                    li
                        a(href=url_for(value))!= key
                li
                    a(href='https://travis-ci.org/zghurskyi/zghurskyi.github.io')
                        img(src='https://travis-ci.org/zghurskyi/zghurskyi.github.io.png?branch=develop')
